mat-slider {
    width: 230px;
    color: deeppink;
  }

  

  mat-card {
    background-color: white;
    margin-top: 15px;
    border: 1px solid grey;
    
  }
  .margin {
      margin-bottom: 15px;
      background-color: purple;
  }

  span {
      font-size: 20px;
  }
